# Virtual environment
.venv/
venv/

# Jupyter checkpoints
.ipynb_checkpoints/

# Ignore all notebooks
*.ipynb

# Keep only the final notebook
!Final.ipynb

# Data files
data/
*.csv
HR_data_2.csv

# PDFs
*.pdf

# Temporary python files
*.py
Untitled-*.py

# Python cache
__pycache__/
*.py[cod]

# Environment files
.env
.python-version

# Editor settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db